#dashboard {
  padding: 0px;
}

#dashboard .center {
  flex: 1;
  overflow: hidden;
}

/* ========== DASHBOARD - SONG LIST ========== */
#dashboard .song-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#dashboard .song-list .no-song {
  width: 100%;
  padding: 8px;
  text-align: center;
}

#dashboard .song-list .playing-song {
  & {
    min-height: 320px;
    width: calc(100% + 32px);
    margin: -16px -16px 0;
    border-radius: 32px 0 0 0;
    position: relative;
  }

  & .banner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 32px 0 0 0;
    top: 0;
    left: 0;
    filter: brightness(0.4);
    z-index: 0;
  }

  & .banner img {
    object-fit: cover;
  }

  & .content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    flex-wrap: wrap;
    padding: 32px;
    overflow:hidden;
    transition: all 400ms ease-in-out;
  }

  & .content .image {
    width: 194px;
    height: 194px;
    border-radius: 8px;
    box-shadow: 0 0 16px var(--color-light);
  }

  & .content .image img {
    object-fit: cover;
    border-radius: 8px;
  }

  & .content .song {
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-evenly;
    gap: 8px;
    max-width: calc(100% - 206px);
    min-width: 280px;
    flex: 1;
    overflow: hidden;
  }

  & .content .song .name {
    font-size: 44px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
  }

  & .content .song .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  & .content .song .info span {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .content .song .info span.circle-style::before {
    content: "•";
    font-size: 14px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .content .song .info span.author:hover {
    color: var(--color-success);
    cursor: pointer;
  }

  & .content .song .info span.duration {
    color: rgba(237, 239, 253, 0.6);
  }
}

#dashboard .song-list .song-card {
  & {
    width: 100%;
    display: grid;
    grid-template-columns: 32px 64px auto 64px;
    height: auto;
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
    transition: none;
  }

  & * {
    transition: none;
  }

  &:hover {
    filter: brightness(1.4);
  }

  & .index {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .image {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    position: relative;
  }

  & .image:hover i {
    display: flex;
  }

  & .image img {
    object-fit: cover;
    border-radius: 8px;
  }

  & .image i {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    font-size: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: brightness(0.3);
    cursor: pointer;
  }

  & .image i:not(.temp-disable):hover {
    filter: brightness(0.5);
  }

  & .image i.temp-disable {
    cursor: not-allowed;
    filter: brightness(0.4);
  }

  & .content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
  }

  & .content span {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: fit-content;
  }

  & .content span:hover {
    color: var(--color-success)
  }

  & .duration {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-info-dark)
  }
}

/* ========== DASHBOARD - CONTROLLER ========== */
#dashboard .bottom {
  display: none;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
  padding: 16px;
  animation: flyInUp 400ms ease-in-out forwards;
  gap: 16px;
  flex-wrap: wrap;
}

#dashboard .bottom.active {
  display: flex;
}

#dashboard .bottom .music-btn.temp-disable {
  filter: brightness(0.5);
  cursor: not-allowed;
}

#dashboard .bottom .playing-song {
  width: 100%;
  max-width: 250px;
  display: grid;
  grid-template-columns: 64px auto;
  height: auto;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 8px;
  transition: filter 200ms ease-in-out;
  gap: 8px
}

#dashboard .bottom .playing-song:hover {
  filter: brightness(1.4);
}

#dashboard .bottom .playing-song .image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  position: relative;
}

#dashboard .bottom .playing-song .image img {
  object-fit: cover;
  border-radius: 8px;
}

#dashboard .bottom .playing-song .image #stop-btn {
  width: 100%;
  height: 100%;
  opacity: 0;
  backdrop-filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}

#dashboard .bottom .playing-song .image #stop-btn:hover {
  opacity: 1;
}

#dashboard .bottom .playing-song .image #stop-btn i {
  font-size: 24px;
}

#dashboard .bottom .playing-song .content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

#dashboard .bottom .playing-song .content span {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#dashboard .bottom .playing-song .content span:hover {
  color: var(--color-success)
}

#dashboard .bottom .interaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
  width: 100%;
  max-width: 400px;
}

#dashboard .bottom .controller {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#dashboard .bottom .controller > li {
  cursor: pointer;
  transition: 200ms filter ease-in-out;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard .bottom .controller > li:not(.disable):not(.temp-disable):hover {
  filter: brightness(0.7);
}

#dashboard .bottom .controller > li#play-btn {
  border-radius: 50%;
  background-color: var(--color-dark);

  & i {
    color: var(--color-white);
    filter: brightness(1.5);
  }
}

#dashboard .bottom .controller > li i {
  font-size: 20px;
}

#dashboard .bottom .controller > li.disable {
  cursor: not-allowed;
}

#dashboard .bottom .controller > li.disable i {
  filter: brightness(0.5);
}

#dashboard .bottom .duration {
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 16px
}

#dashboard .bottom .duration .navigation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px 0;
  cursor: pointer;
}

#dashboard .bottom .duration .navigation:hover {
  & .passed-timeline {
    background-color: var(--color-success);
  }

  & .passed-timeline .btn {
    display: unset;
  }
}

#dashboard .bottom .duration .passed-timeline {
  display: unset;
  position: relative;
  height: 3px;
  width: var(--width);
  background-color: var(--color-dark);
  border-radius: 8px;
  transition: width 200ms ease-in-out;
}

#dashboard .bottom .duration .passed-timeline .btn {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 10;
  display: none;
}

#dashboard .bottom .duration .timeline {
  height: 3px;
  width: var(--width);
  background-color: var(--color-dark);
  filter: brightness(0.5);
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  transition: width 200ms ease-in-out;
}

#dashboard .bottom .duration .time {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: -16px;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 968px) {

  #dashboard .center .song-list .playing-song {

    & {
      min-height: 250px
    }

    & .content .image {
      width: 136px;
      height: 136px;
    }

    & .content .song {
      max-width: calc(100% - 148px);
    }

    & .content .song .name {
      font-size: 22px;
    }
  } 

  #dashboard .bottom .playing-song {
    grid-template-columns: 64px;
    width: fit-content;
  }

  #dashboard .bottom .playing-song .content {
    display: none;
  }
}

@media screen and (max-width: 698px) {

  #dashboard .center .song-list .playing-song {
    & .content {
      padding: 32px 20px;
    }
  }

  #dashboard .bottom .interaction {
    max-width: 350px;
  }
}

@media screen and (max-width: 470px) {

  #dashboard .center .song-list .playing-song {

    & {
      min-height: 280px;
    }

    & .content {
      justify-content: flex-end;
      align-items: center;
      padding: 16px 16px 4px;
      flex-direction: column;
    }

    & .content .song {
      max-width: 100%;
    }

    & .content .song span {
      font-size: 14px;
    }

    & .content .song .song-status {
      display: none;
    }
  }

  #dashboard .bottom {
    padding: 12px;
  }

  #dashboard .bottom .playing-song {
    grid-template-columns: 48px auto;
    gap: 0;
  }

  #dashboard .bottom .playing-song .image {
    width: 48px;
    height: 48px;
  }
}