@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ========== ROOT VARIABLES ========== */
:root {
    --color-primary: #5868fa;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #202528;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #edeffd;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-primary-variant: #111e88;
    --color-dark-variant: #a3bdcc;
    --color-background: #18181b;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --border-radius-4: 1.8rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light); 

    --_fw-900: 900;
    --_fw-700: 700;
    --_fw-400: 400;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    transition: all 300ms ease;
}

a {
    color: var(--color-dark)
}

i {
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.hover-glow {
    transition: text-shadow 300ms ease;
}

.hover-glow-white:hover {
    text-shadow: 0 0 5px var(--color-dark);
}

.hover-glow-primary:hover {
    text-shadow: 0 0 5px var(--color-primary);
}

.bubble-text {
    user-select: none;
    cursor: pointer;

    &.split-text {
        display: inline-flex;
    }

    & .split-char {
        font-weight: 200;
        transition: font-weight 0.5s ease;

    &:hover {
        font-weight: var(--_fw-900);
    }

    /* // right side */
    &:hover + .split-char {
        font-weight: var(--_fw-700);
    }
    &:hover + .split-char + .split-char {
        font-weight: var(--_fw-400);
    }

    /* // left side */
    &:has(+ .split-char:hover) {
        font-weight: var(--_fw-700);
    }
    &:has(+ .split-char + .split-char:hover) {
        font-weight: var(--_fw-400);
    }
    }
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fly-in-animation {
    opacity: 0;
}

.fly-in-animation.active {
    animation: flyIn 600ms ease-in-out forwards;
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: #181a1e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

#loader .loading {
    width: 10vw;
    height: 50px;
    position: relative;
}

#loader .loading span {
    background-color: #0F0F10;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading 2s ease-in-out both infinite;
}

#loader .loading span:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: inherit;
    animation: loading2 2s ease-in-out both infinite;
}

@keyframes loading {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}