@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ========== ROOT VARIABLES ========== */
:root {
    --color-primary: #5868fa;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #202528;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #edeffd;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-primary-variant: #111e88;
    --color-dark-variant: #a3bdcc;
    --color-background: #18181b;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --border-radius-4: 1.8rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light); 

    --_fw-900: 900;
    --_fw-700: 700;
    --_fw-400: 400;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    transition: all 300ms ease;
}

a {
    color: var(--color-dark)
}

i {
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.hover-glow {
    transition: text-shadow 300ms ease;
}

.hover-glow:hover {
    text-shadow: 0 0 5px var(--color-text-shadow);
}

.bubble-text {
    user-select: none;
    cursor: pointer;

    &.split-text {
        display: inline-flex;
    }

    & .split-char {
        font-weight: 200;
        transition: font-weight 0.5s ease;

    &:hover {
        font-weight: var(--_fw-900);
    }

    /* // right side */
    &:hover + .split-char {
        font-weight: var(--_fw-700);
    }
    &:hover + .split-char + .split-char {
        font-weight: var(--_fw-400);
    }

    /* // left side */
    &:has(+ .split-char:hover) {
        font-weight: var(--_fw-700);
    }
    &:has(+ .split-char + .split-char:hover) {
        font-weight: var(--_fw-400);
    }
    }
}

.shining-text {
    user-select: none;

    &.split-text {
        display: inline-flex;
    }

    & .split-word {
        margin: 0 6px;
    }

    & .split-char {
        font-weight: 200;
        transition: font-weight 0.5s ease, text-shadow 0.5s ease;

    &.active {
        font-weight: var(--_fw-900);
        text-shadow: 0 0 10px var(--color-text-shadow);
    }

    /* // right side */
    &.active + .split-char {
        font-weight: var(--_fw-700);
    }
    &.active + .split-char + .split-char {
        font-weight: var(--_fw-400);
    }

    /* // left side */
    &:has(+ .split-char.active) {
        font-weight: var(--_fw-700);
    }
    &:has(+ .split-char + .split-char.active) {
        font-weight: var(--_fw-400);
    }
    }
}

.text-muted {
    color: var(--color-info-dark);
}

.fly-in-animation {
    opacity: 0;
}

.fly-in-animation.active {
    animation: flyIn 400ms ease-in-out forwards;
}

.btn {
    display: block;
    background: transparent;
    cursor: pointer;
    
    & i {
        font-size: 20px;
    }
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: #181a1e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

#loader .loading {
    width: 10vw;
    height: 50px;
    position: relative;
}

#loader .loading span {
    background-color: #0F0F10;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading 2s ease-in-out both infinite;
}

#loader .loading span:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: inherit;
    animation: loading2 2s ease-in-out both infinite;
}

@keyframes loading {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}

/* ========== DASHBOARD - CONTAINER ========== */
body.dashboard-body {
    #container {
        display: none;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: #1b1f22;
        opacity: 0;
        animation: fade 300ms ease-in forwards;
    }
    
    /* ========== DASHBOARD - SIDEBAR ========== */
    #sidebar {
        height: 100%;
        overflow: hidden;
        width: 270px;
        display: grid;
        grid-template-rows: 80px auto;
    }
    
    #sidebar .top {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #sidebar .top .name {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    
    #sidebar .top .name .logo {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px var(--color-background) solid;
    }
    
    #sidebar .sidebar-sections {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 40px 25px;
    }
    
    #sidebar .sidebar-sections::-webkit-scrollbar {
        width: 0px;
    }
    
    #sidebar .sidebar-sections .sidebar-section {
        display: flex;
        flex-direction: column;
    }
    
    #sidebar .sidebar-sections .sidebar-section .title h2 {
        font-size: 20px;
        color: var(--color-primary)
    }
    
    #sidebar .sidebar-sections .sidebar-section .sidebar-items {
        padding: 0 8px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    
    #sidebar .sidebar-sections .sidebar-section .sidebar-items .sidebar-item {
        
        & {
            height: auto;
            width: 100%;
            padding: 0 10px;
            transition: filter 200ms ease, padding 300ms ease-in;
        }
    
        &.active span, &.active i {
            color: var(--color-primary);
            filter: brightness(1.3);
        }
    
        &:hover {
            padding-left: 0px;
    
            & a i.expand-icon {
                margin: 0;
            }
    
            & a i, & a span {
                filter: brightness(5);
                color: var(--color-primary-variant);
                transition: color 200ms ease;
            }
        }
    
        & a {
            display: flex;
            align-items: center;
            font-size: 16px;
            height: 54px;
            width: 100%;
        }
        
        & a span {
            padding: 5px 20px;
            flex: 1;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        & a i.expand-icon {
            margin-right: 16px;
            font-size: 12px;
            transition: margin 400ms ease-out;
        }
    
        & a img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px var(--color-dark) solid;
        }
    }

    #sidebar #close-sidebar-btn {
        display: none;
        align-items: center;
        gap: 8px;
        padding: 0 20px;
    }

    #sidebar #close-sidebar-btn:hover {
        color: var(--color-primary);
        transform: translateX(20px);
        transition: transform 300ms ease-out;
    }
    
    /* ========== DASHBOARD - MAIN ========== */
    #main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    #header {
        display: flex;
        width: 100%;
        height: 80px;
        justify-content: flex-end;
        padding: 20px 40px;
        position: relative;
    }

    #header #menu-btn {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }
    
    #header .profile {
        height: auto;
        width: auto;
        position: relative;
    }
    
    #header .profile .btn {
        display: flex;
        width: fit-content;
        align-items: center;
        column-gap: 12px;
        cursor: pointer;
        padding: 4px 0;
    }
    
    #header .profile .btn img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    
    #header .profile .btn span {
        font-size: 16px;
        font-weight: 600;
    }
    
    #header .profile .expand {
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 16px;
        border-radius: 4px;
        right: 0;
        top: 40px;
        width: auto;
        height: auto;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);
        z-index: 15;
        animation: flyIn 200ms ease-out forwards;
    }
    
    #header .profile:hover .expand{
        display: flex;
    }
    
    #header .profile .expand li {
        width: 100%;
        height: auto;
    }
    
    #header .profile .expand li:hover {
        filter: brightness(0.7);
        transition: filter 200ms ease;
    }
    
    #header .profile .expand li a {
        width: 148px;
        padding: 8px 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    #header .profile .expand li a span {
        white-space: nowrap;
    }
    
    /* ========== DASHBOARD ========== */
    #dashboard {
        width: 100%;
        height: 100%;
        border-radius: 32px 0 0 0;
        background-color: var(--color-background);
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #dashboard .title {
        font-size: 26px;
        border-bottom: 2px gray solid;
        padding: 16px 0 28px;
    }
    
    #dashboard .center {
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }

    /* ========== DASHBOARD - MEDIA QUERIES ========== */
    @media screen and (max-width: 768px) {
        #sidebar {
            left: -100%;
            display: grid;
            position: fixed;
            top: 0;
            z-index: 9999;
            transition: left 400ms ease-in-out;
            background-color: var(--color-white);
            box-shadow: 12px 0 12px var(--color-light);
        }

        #sidebar.active {
            left: 0;
        }

        #sidebar #close-sidebar-btn {
            display: flex;
        }

        #header #menu-btn {
            display: block;
        }

        #dashboard {
            border-radius: 0;
        }
    }
}